.taskbarTri {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 180px;
  height: 982px;
}
.div {
  position: absolute;
  top: 87px;
  left: 44px;
  font-weight: 600;
  display: inline-block;
  width: 76px;
  height: 30px;
}
.chefsHat,
.chefsHatIcon {
  position: absolute;
  cursor: pointer;
}
.chefsHatIcon {
  height: 80.5%;
  width: 85.95%;
  top: 9.25%;
  right: 7.84%;
  bottom: 10.25%;
  left: 6.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chefsHat {
  top: calc(50% - 25px);
  left: calc(50% - 18px);
  background-color: var(--color-white);
  width: 37px;
  height: 40px;
}
.div1,
.menu {
  position: absolute;
  top: 94px;
  left: -1px;
  width: 160px;
  height: 144px;
}
.div1 {
  top: 63px;
  left: 33px;
  font-weight: 600;
  display: inline-block;
  width: 115px;
  height: 57px;
}
.kitchenStoveIcon {
  position: absolute;
  top: calc(50% - 37px);
  left: calc(50% - 19px);
  width: 33px;
  height: 38px;
  cursor: pointer;
}
.bn,
.thanhTriChild {
  position: absolute;
  top: 240px;
  left: 5px;
  width: 148px;
  height: 120px;
}
.thanhTriChild {
  top: 479px;
  left: 7px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkorange-200);
  border: 3px solid var(--color-darkorange-100);
  box-sizing: border-box;
  width: 131px;
  height: 112px;
}
.groupFillIcon {
  top: 0;
  left: 0;
  width: 44px;
  height: 47px;
  object-fit: cover;
}
.div2,
.groupFillIcon,
.khchHng {
  position: absolute;
}
.div2 {
  top: 49px;
  left: -29px;
  font-weight: 600;
  display: inline-block;
  width: 136px;
  height: 35px;
}
.khchHng {
  top: 382px;
  left: 53px;
  width: 44px;
  height: 47px;
  cursor: pointer;
}
.subtractIcon {
  position: relative;
  width: 33.8px;
  height: 35.3px;
}
.timeAtackFill {
  top: 0;
  left: 0;
  width: 45px;
  height: 47px;
}
.div3,
.lchS,
.timeAtackFill {
  position: absolute;
}
.div3 {
  top: 47px;
  left: -33px;
  font-weight: 600;
  display: inline-block;
  width: 111px;
  height: 22px;
}
.lchS {
  top: 494px;
  left: 54px;
  width: 45px;
  height: 47px;
  color: var(--color-darkorange-100);
}
.chartFillIcon {
  top: 0;
  left: 0;
  width: 40px;
  height: 39px;
  object-fit: cover;
}
.boCo,
.chartFillIcon,
.div4 {
  position: absolute;
}
.div4 {
  top: 39px;
  left: -26px;
  font-weight: 600;
  display: inline-block;
  width: 111px;
  height: 29px;
}
.boCo {
  top: 613px;
  left: 52px;
  width: 40px;
  height: 39px;
  cursor: pointer;
}
.div5 {
  top: 0;
  left: 0;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.div5,
.div6,
.parent {
  position: absolute;
}
.div6 {
  top: 18px;
  left: 3px;
  font-size: var(--font-size-xs);
  letter-spacing: 0.01em;
  color: var(--color-gray-100);
}
.parent {
  top: 914px;
  left: 69px;
  width: 47px;
  height: 36px;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.signOutCircleDuotoneLineIcon {
  position: absolute;
  top: 916px;
  left: 15px;
  width: 47px;
  height: 38px;
  cursor: pointer;
}
.chevronDown2Icon {
  position: absolute;
  top: 925px;
  left: 129px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.taskbarTrn,
.thanhTri {
  position: absolute;
  top: 0;
  left: 0;
}
.thanhTri {
  width: 180px;
  height: 982px;
  font-size: var(--font-size-5xl);
  color: var(--color-darkgray-200);
}
.taskbarTrn {
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-white);
  border: 2px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 1512px;
  height: 94px;
}
.span {
  font-size: var(--font-size-base);
  white-space: pre-wrap;
}
.p,
.saigon {
  margin: 0;
}
.p {
  font-size: var(--font-size-base);
}
.saigonContainer {
  position: absolute;
  top: 18px;
  left: 29px;
  display: inline-block;
  width: 252px;
  height: 50px;
}
.iconWifi,
.tabTrnChild {
  position: absolute;
  top: 16px;
  left: 635.2px;
  width: 7.6px;
  height: 5.4px;
}
.iconWifi {
  height: 31.91%;
  width: 2.45%;
  top: 36.17%;
  right: 3.31%;
  bottom: 31.91%;
  left: 94.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image3Icon {
  position: absolute;
  top: 16px;
  left: 193px;
  width: 100px;
  height: 55px;
  object-fit: cover;
}
.div7,
.tabTrn {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 94px;
  font-size: var(--font-size-13xl);
}
.div7 {
  top: 103px;
  left: 240px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  display: inline-block;
  width: 222px;
  height: 38px;
}
.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 1209px;
  height: 825px;
}
.frameItem,
.vectorParent {
  position: absolute;
  top: 7px;
  left: 43px;
}
.vectorParent {
  top: 141px;
  left: 224px;
  width: 1209px;
  height: 841px;
}
.historyChild {
  top: 196px;
  left: 263px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro-100);
  width: 1109px;
  height: 43px;
}
.groupChild,
.historyChild,
.id {
  position: absolute;
}
.id {
  top: 204px;
  left: 286px;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  width: 1198px;
  height: 34px;
}
.groupChild {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  width: 1109px;
  height: 57px;
}
.span1,
.span2 {
  white-space: pre-wrap;
}
.span2 {
  font-size: var(--font-size-lg);
}
.div8 {
  position: absolute;
  top: 18px;
  left: 21px;
  font-weight: 500;
  display: inline-block;
  width: 1076px;
  height: 24px;
  cursor: pointer;
}
.span3,
.span5 {
  font-weight: 600;
  white-space: pre-wrap;
}
.span5 {
  font-weight: 500;
}
.span5,
.span6 {
  font-family: var(--font-inter);
}
.span7 {
  font-weight: 500;
  white-space: pre-wrap;
}
.span4 {
  font-size: var(--font-size-lg);
}
.div9 {
  position: absolute;
  top: 76px;
  left: 21px;
  display: inline-block;
  width: 1076px;
  height: 24px;
}
.div10 {
  top: 195px;
  left: 21px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  white-space: pre-wrap;
}
.div10,
.div11,
.div12 {
  position: absolute;
  display: inline-block;
  width: 1076px;
  height: 24px;
}
.div11 {
  top: 314px;
  left: 17px;
  font-size: var(--font-size-lg);
  white-space: pre-wrap;
}
.div12 {
  top: 433px;
  left: 21px;
}
.span13 {
  font-weight: 600;
}
.div13 {
  position: absolute;
  top: 561px;
  left: 23px;
  display: inline-block;
  width: 1076px;
  height: 24px;
}
.div14,
.rectangleParent {
  position: absolute;
  top: 272px;
  left: 263px;
  width: 1109px;
  height: 585px;
}
.div14 {
  top: 18px;
  left: 21px;
  display: inline-block;
  width: 1076px;
  height: 24px;
}
.div16,
.rectangleContainer,
.rectangleGroup {
  position: absolute;
  top: 388px;
  left: 263px;
  width: 1109px;
  height: 57px;
}
.div16,
.rectangleContainer {
  top: 504px;
}
.div16 {
  top: 18px;
  left: 21px;
  font-weight: 500;
  white-space: pre-wrap;
  display: inline-block;
  width: 1076px;
  height: 24px;
}
.groupDiv,
.rectangleParent1,
.rectangleParent2 {
  position: absolute;
  top: 633px;
  left: 263px;
  width: 1109px;
  height: 57px;
  font-size: var(--font-size-lg);
}
.rectangleParent1,
.rectangleParent2 {
  top: 759px;
}
.rectangleParent2 {
  top: 869px;
}
.div19 {
  position: absolute;
  top: -3px;
  left: 24px;
  font-weight: 600;
  display: inline-block;
  width: 60px;
  height: 24px;
}
.iconArrowRight,
.iconArrowRight1 {
  position: absolute;
  height: 83.33%;
  top: 16.67%;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconArrowRight {
  width: 46.67%;
  right: 130%;
  left: -76.67%;
  object-fit: contain;
}
.iconArrowRight1 {
  width: 45%;
  right: -75%;
  left: 130%;
}
.group,
.historyInner {
  position: absolute;
  top: -4px;
  left: -60px;
  width: 60px;
  height: 24px;
}
.historyInner {
  top: 940px;
  left: 858px;
  width: 27px;
  height: 20px;
  font-size: var(--font-size-5xl);
}
.history {
  width: 100%;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
