.taskbarTri {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 180px;
  height: 982px;
}
.div {
  position: absolute;
  top: 87px;
  left: 44px;
  font-weight: 600;
  display: inline-block;
  width: 76px;
  height: 30px;
}
.chefsHatIcon {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 18px);
  width: 37px;
  height: 40px;
  cursor: pointer;
}
.div1,
.menu {
  position: absolute;
  top: 94px;
  left: -1px;
  width: 160px;
  height: 144px;
}
.div1 {
  top: 63px;
  left: 33px;
  font-weight: 600;
  display: inline-block;
  width: 115px;
  height: 57px;
}
.kitchenStoveIcon {
  position: absolute;
  top: calc(50% - 37px);
  left: calc(50% - 19px);
  width: 33px;
  height: 38px;
  cursor: pointer;
}
.bn {
  position: absolute;
  top: 240px;
  left: 5px;
  width: 148px;
  height: 120px;
}
.groupFillIcon {
  top: 0;
  left: 0;
  width: 44px;
  height: 47px;
  object-fit: cover;
}
.div2,
.groupFillIcon,
.khchHng {
  position: absolute;
}
.div2 {
  top: 49px;
  left: -29px;
  font-weight: 600;
  display: inline-block;
  width: 136px;
  height: 35px;
}
.khchHng {
  top: 382px;
  left: 53px;
  width: 44px;
  height: 47px;
  cursor: pointer;
}
.subtractIcon {
  position: relative;
  width: 33.8px;
  height: 35.3px;
}
.timeAtackFill {
  top: 0;
  left: 0;
  width: 45px;
  height: 47px;
}
.div3,
.lchS,
.timeAtackFill {
  position: absolute;
}
.div3 {
  top: 47px;
  left: -33px;
  font-weight: 600;
  display: inline-block;
  width: 111px;
  height: 22px;
}
.lchS {
  top: 494px;
  left: 61px;
  width: 45px;
  height: 47px;
  cursor: pointer;
  color: var(--color-darkgray-400);
}
.chartFillIcon {
  top: 0;
  left: 0;
  width: 40px;
  height: 39px;
  object-fit: cover;
}
.boCo,
.chartFillIcon,
.div4 {
  position: absolute;
}
.div4 {
  top: 39px;
  left: -24px;
  font-weight: 600;
  display: inline-block;
  width: 111px;
  height: 29px;
}
.boCo {
  top: 609px;
  left: 60px;
  width: 40px;
  height: 39px;
  color: var(--color-darkorange-100);
}
.signOutCircleDuotoneLineIcon {
  position: absolute;
  top: 915px;
  left: 12px;
  width: 47px;
  height: 38px;
  cursor: pointer;
}
.div5 {
  top: 0;
  left: 0;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.div5,
.div6,
.parent {
  position: absolute;
}
.div6 {
  top: 22px;
  left: 0;
  font-size: var(--font-size-xs);
  letter-spacing: 0.01em;
  color: var(--color-gray-100);
}
.parent {
  top: 920px;
  left: 61px;
  width: 63px;
  height: 40px;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.chevronDown2Icon {
  position: absolute;
  top: 919px;
  left: 108px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.thanhTriChild {
  position: absolute;
  top: 592px;
  left: 16px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkorange-200);
  border: 3px solid var(--color-darkorange-100);
  box-sizing: border-box;
  width: 131px;
  height: 112px;
}
.solidcommunicationuserIcon {
  position: absolute;
  top: 719px;
  left: 56px;
  width: 47px;
  height: 57px;
  cursor: pointer;
}
.div7 {
  position: absolute;
  top: 776px;
  left: 17px;
  font-weight: 600;
  display: inline-block;
  width: 139px;
  height: 29px;
}
.taskbarTrn,
.thanhTri {
  position: absolute;
  top: 0;
  left: 0;
}
.thanhTri {
  width: 180px;
  height: 982px;
  font-size: var(--font-size-5xl);
  color: var(--color-darkgray-200);
}
.taskbarTrn {
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-white);
  border: 2px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 1512px;
  height: 94px;
}
.span {
  font-size: var(--font-size-base);
  white-space: pre-wrap;
}
.p,
.saigon {
  margin: 0;
}
.p {
  font-size: var(--font-size-base);
}
.saigonContainer {
  position: absolute;
  top: 18px;
  left: 29px;
  display: inline-block;
  width: 252px;
  height: 50px;
}
.iconWifi,
.tabTrnChild {
  position: absolute;
  top: 16px;
  left: 635.2px;
  width: 7.6px;
  height: 5.4px;
}
.iconWifi {
  height: 31.91%;
  width: 2.45%;
  top: 34.04%;
  right: 2.98%;
  bottom: 34.04%;
  left: 94.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image3Icon {
  position: absolute;
  top: 16px;
  left: 194px;
  width: 100px;
  height: 55px;
  object-fit: cover;
}
.tabTrn {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 94px;
  font-size: var(--font-size-13xl);
}
.groupChild,
.report01Child {
  position: absolute;
  top: 107px;
  left: 401px;
}
.groupChild {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 3px solid var(--color-darkgray-300);
  box-sizing: border-box;
  width: 43px;
  height: 37px;
}
.vectorIcon {
  position: absolute;
  height: 40.27%;
  width: 35.35%;
  top: 33.24%;
  right: 32.33%;
  bottom: 26.49%;
  left: 32.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangleParent {
  position: absolute;
  top: 108px;
  left: 603px;
  width: 43px;
  height: 37px;
  cursor: pointer;
}
.x {
  top: 675px;
  left: 1237px;
  font-weight: 500;
  color: var(--color-white);
  white-space: pre-wrap;
  display: inline-block;
  width: 130px;
  height: 28px;
}
.b,
.frameChild,
.x {
  position: absolute;
}
.b {
  top: 529px;
  left: 360px;
  display: inline-block;
  color: var(--color-white);
  width: 162px;
  height: 28px;
}
.frameChild {
  top: 23px;
  left: 77px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  width: 875px;
  height: 751px;
}
.div8 {
  position: absolute;
  top: -128px;
  left: -2px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  width: 154px;
  height: 33px;
}
.frameInner,
.frameItem {
  left: -16.5px;
  border-top: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
  height: 1px;
}
.frameItem {
  position: absolute;
  top: 82.5px;
  width: 841px;
}
.frameInner {
  top: 33.5px;
}
.frameChild1,
.frameInner,
.lineDiv {
  position: absolute;
  width: 841px;
}
.lineDiv {
  top: -143.5px;
  left: -16.5px;
  border-top: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
  height: 1px;
}
.frameChild1 {
  top: -95.5px;
}
.frameChild1,
.frameChild2,
.frameChild3 {
  left: -16.5px;
  border-top: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
  height: 1px;
}
.frameChild2 {
  position: absolute;
  top: -12.5px;
  width: 841px;
}
.frameChild3 {
  top: -53.5px;
  width: 843px;
}
.div9,
.frameChild3,
.lineIcon {
  position: absolute;
}
.div9 {
  top: -4px;
  left: 13px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  display: inline-block;
  width: 154px;
  height: 33px;
}
.lineIcon {
  top: -143px;
  left: 181px;
  width: 2px;
  height: 177px;
  object-fit: contain;
}
.frameChild4,
.frameChild5 {
  position: absolute;
  width: 1px;
}
.frameChild4 {
  top: -143.5px;
  left: -16.5px;
  border-right: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
  height: 227px;
}
.frameChild5 {
  top: -143px;
  left: 463px;
  height: 177px;
  object-fit: contain;
}
.frameChild6,
.frameChild7,
.frameChild8,
.frameChild9 {
  position: absolute;
  top: -143.5px;
  left: 301.5px;
  border-right: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
  width: 1px;
  height: 178px;
}
.frameChild7,
.frameChild8,
.frameChild9 {
  top: -142.5px;
  left: 463.5px;
}
.frameChild8,
.frameChild9 {
  top: -144.5px;
  left: 642.5px;
}
.frameChild9 {
  top: -142.5px;
  left: 180.5px;
}
.div10,
.text {
  position: absolute;
  white-space: pre-wrap;
  display: inline-block;
}
.div10 {
  top: -128px;
  left: 152px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  width: 154px;
  height: 33px;
}
.text {
  top: 46px;
  left: 313px;
  font-weight: 500;
  width: 136px;
  height: 22px;
}
.frameChild10 {
  position: absolute;
  top: -143.5px;
  left: 823.5px;
  border-right: 1px solid var(--color-darkgray-500);
  box-sizing: border-box;
  width: 1px;
  height: 227px;
}
.div11 {
  top: -127px;
  left: 488px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  width: 154px;
  height: 33px;
}
.div11,
.div12,
.div13,
.div14,
.text1 {
  position: absolute;
  display: inline-block;
}
.div12 {
  top: -127px;
  left: 672px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  width: 154px;
  height: 33px;
}
.div13,
.div14,
.text1 {
  top: -83px;
  left: 0;
  font-weight: 500;
  width: 136px;
  height: 22px;
}
.div14,
.text1 {
  top: 2px;
  left: 313px;
  white-space: pre-wrap;
}
.div14 {
  top: -127px;
  left: 306px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  width: 154px;
  height: 33px;
}
.text2,
.text3 {
  white-space: pre-wrap;
  width: 136px;
}
.text2 {
  position: absolute;
  top: 83px;
  left: 183px;
  font-weight: 500;
  display: inline-block;
  height: 22px;
}
.text3 {
  top: 2px;
  left: 166px;
}
.div15,
.div16,
.div17,
.div18,
.div19,
.div20,
.text3,
.text4,
.text5 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
  height: 22px;
}
.div15 {
  top: -40px;
  left: 181px;
  white-space: pre-wrap;
  width: 112px;
}
.div16,
.div17,
.div18,
.div19,
.div20,
.text4,
.text5 {
  top: -41px;
  left: 0;
  width: 152px;
}
.div17,
.div18,
.div19,
.div20,
.text4,
.text5 {
  top: 53px;
  left: 584px;
}
.div18,
.div19,
.div20,
.text4,
.text5 {
  top: 1px;
  left: 646px;
  white-space: pre-wrap;
  width: 136px;
}
.div18,
.div19,
.div20,
.text5 {
  top: 53px;
  left: 708px;
  width: 86px;
}
.div18,
.div19,
.div20 {
  top: -41px;
  left: 327px;
  width: 136px;
}
.div19,
.div20 {
  top: -40px;
  left: 495px;
}
.div20 {
  top: -41px;
  left: 650px;
}
.frameChild11 {
  position: absolute;
  top: -143px;
  left: 642px;
  width: 2px;
  height: 177px;
  object-fit: contain;
}
.b1,
.group {
  position: absolute;
  top: 361px;
  left: 105px;
  width: 164px;
  height: 22px;
  font-size: var(--font-size-lg);
}
.b1 {
  top: 121px;
  left: 433px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 249px;
  height: 32px;
}
.frameChild12,
.rectangleDiv {
  position: absolute;
  top: 680px;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 144px;
  height: 54px;
}
.rectangleDiv {
  left: 115px;
  background-color: var(--color-limegreen);
  border: 3px solid var(--color-limegreen);
  cursor: pointer;
}
.frameChild12 {
  left: 772px;
  background-color: var(--color-darkorange-100);
  border: 3px solid var(--color-darkorange-100);
}
.div21,
.div22 {
  position: absolute;
  font-size: var(--font-size-lg);
  display: inline-block;
}
.div21 {
  top: 693px;
  left: 813px;
  font-weight: 500;
  color: var(--color-white);
  width: 88px;
  height: 28px;
}
.div22 {
  top: 153px;
  left: 382px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 254px;
  height: 37px;
}
.expand02Icon,
.x1 {
  position: absolute;
  cursor: pointer;
}
.x1 {
  top: 693px;
  left: 120px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--color-white);
  white-space: pre-wrap;
  display: inline-block;
  width: 130px;
  height: 28px;
}
.expand02Icon {
  top: 37px;
  left: 916px;
  width: 17px;
  height: 20px;
}
.b2,
.div23 {
  position: absolute;
  left: 302px;
  display: inline-block;
  white-space: pre-wrap;
  width: 87px;
  height: 24px;
}
.div23 {
  top: 276px;
  font-weight: 500;
  text-align: center;
}
.b2 {
  top: 365px;
}
.b3 {
  top: 417px;
  left: 806px;
  width: 81px;
  height: 15px;
}
.b3,
.b4,
.div24 {
  position: absolute;
  display: inline-block;
}
.div24 {
  top: 278px;
  left: 445px;
  font-weight: 500;
  width: 81px;
  height: 15px;
}
.b4 {
  top: 363px;
  left: 451px;
  width: 87px;
  height: 24px;
}
.div25 {
  top: 276px;
  left: 611px;
  font-weight: 500;
}
.b5,
.b6,
.div25,
.div26 {
  position: absolute;
  display: inline-block;
  width: 106px;
  height: 24px;
}
.b5 {
  top: 360px;
  left: 611px;
}
.b6,
.div26 {
  left: 777px;
}
.div26 {
  top: 276px;
  font-weight: 500;
}
.b6 {
  top: 360px;
}
.rectangleGroup {
  position: absolute;
  top: 163px;
  left: 331px;
  width: 989px;
  height: 801px;
  font-size: var(--font-size-base);
}
.report01 {
  width: 100%;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
