@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-13xl: 32px;
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-5xs: 8px;
  --font-size-3xs: 10px;
  --font-size-3xl: 22px;

  /* Colors */
  --color-whitesmoke-100: #f5f5f5;
  --color-whitesmoke-200: rgba(245, 245, 245, 0.55);
  --color-black: #000;
  --color-white: #fff;
  --color-darkslategray: #3a3b4a;
  --color-darkslateblue: #202465;
  --color-darkgray-100: #acacac;
  --color-darkgray-200: #9f9f9e;
  --color-darkgray-300: #9e9f9e;
  --color-darkgray-400: #9e9e9f;
  --color-darkgray-500: #999;
  --color-darkgray-600: rgba(159, 159, 158, 0.46);
  --color-darkorange-100: #fc8019;
  --color-darkorange-200: rgba(252, 128, 25, 0.08);
  --color-gainsboro-100: #d9d9d9;
  --color-gray-100: #757575;
  --color-limegreen: #26e322;
  --color-red-100: rgba(254, 6, 6, 0.55);
  --color-steelblue: #4881c4;
  --color-lavender-100: #f3efff;
  --color-dimgray: #4f4f4f;

  /* Border radiuses */
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-mini: 15px;
  --br-8xs: 5px;
  --br-5xs: 8px;
}
